.renderMosaic_container {
  position: absolute; 
  margin-top: 0px;
  z-index: 5;
  opacity: 0.9;
  background-color: #ffffff;
}

.renderMosaic_flex-container {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main-axis vertical */
  justify-content: center; /* align items vertically, in this case */
  align-items: center; /* align items horizontally, in this case */
  height: 100%; /* for demo purposes */
  background-color: rgb(255, 255, 255); /* for demo purposes */
}

.renderMosaic_loading-animation {
  width: 200px;
  margin: auto;
  text-align: center;
}

.renderMosaic_button_wrapper {
  font-family: 'Veranda', sans-serif;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.renderMosaic_button_label {
  padding: 10% 10%;
  font-size: x-large;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #fd8907;
  border-radius: 3px;
  color: #fff;
  margin-right: 8px;
}

.renderMosaic_button_label input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 300px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}





