@use '@sass/mosaicVariables' as *;
@use '@sass/mosaicMixins' as *;

.mosaicSelectorButton {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  @include dropShadow-0-5();
  border-radius: $button-border-radius;
  border: $button-border-light;
  background: $button-color-default; 

  svg {
    width: 75%;
    height: auto; 
    rect, path {
      stroke: $button-background-default; 
    }
  }

  &:hover {
    svg {
      rect, path {
        stroke: $button-background-hover;
      }
    }
    background: $button-background-default;
  }

  &:active {
    svg {
      fill: $button-icon-pressed;
    }
    @include dropShadow-2();
  }
  
  &--selected {
    svg {
      rect, path {
        stroke: $button-background-hover;
      }
    }
    background: $button-background-default;
    @include dropShadow-2();
  }
}