@use '@sass/mosaicVariables.scss' as *;
@use '@sass/mosaicMixins.scss' as *;


.promptButton {
  width: 140px;
  height: $size-bttn-small;
  background: $button-background-default;
  color: $button-color-default;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-space-16;
  text-wrap: nowrap;
  cursor: pointer;
  border-radius: $button-border-radius;
  border: $button-border-default;
  @include dropShadow-1();
  @include font-style($size: 18px, $weight: 500, $transform: uppercase, $lineHeight: 0.5);

  &:hover {
    @include state-hover-default($surface: $button-background-default, $state: $button-background-hover);
  }
  &:active {
    @include state-pressed-default($surface: $button-background-default, $state: $button-background-pressed);
  }
}