@use '@sass/mosaicVariables' as *;
@use '@sass/mosaicMixins' as *;

.navigationButton {  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: $button-background-default; 
  @include dropShadow-0-5();
  border-radius: $button-border-radius;
  border: $button-border-light;
  background: $button-color-default;
  width: 100%;
  min-height: 60px;
  @include font-style($size: 18px, $weight: 500, $transform: uppercase, $lineHeight: 0.5);


  &:hover {
    color: $button-background-hover;
    background: $button-background-default;
  }

  &:active {
    color: $button-background-pressed;
    @include dropShadow-2();
  }
  
  &--selected {
    color: $button-background-hover;
    background: $button-background-default;
    @include dropShadow-2();
  }
}