@use '@sass/mosaicVariables' as *;

.scrubberSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__slider {
    width: 90%;
    & .MuiSlider-thumb {
      width: 24px;
      height: 24px;
      margin-top: -12px;
      margin-left: -12px;
      background-color: $mosaic-purple-dark;
    }
    & .MuiSlider-valueLabel {
      left: calc(-50% + 8px);
      top: -30px;
      color: $mosaic-purple-dark;
    }
  }
}
