@use '@sass/mosaicVariables' as *;
@use '@sass/mosaicMixins' as *;

.scrubberSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__slider {
    width: 90%;
    & .MuiSlider-thumb {
      width: 36px;
      height: 36px;
      margin-top: -18px;
      margin-left: -18px;
      background-color: $mosaic-purple-dark;
    }
    & .MuiSlider-valueLabel {
      left: calc(-2%);
      top: -34px;
      .PrivateValueLabel-circle-4 {
        background-color: $button-color-default;
        border: 2px solid $mosaic-purple-dark;
        .PrivateValueLabel-label-5 {
          color: $mosaic-purple-dark;
          @include font-style($size: 18px, $weight: 500, $transform: uppercase, $lineHeight: 0.5);
        }
      }
      color: $mosaic-purple-dark;
      
    }
  }
}
