
.scrubberSlider {
  -webkit-appearance: none;
  width: 88vw;
  margin-left: 6vw; 
  height: 20px;
  border-radius: 2px;  
  border-style: inset;
  border-color: #ebebeb;
  background: #919191;
  outline: none;
}

.scrubberSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  border-style: inset;
  border-color: #fd8a07;
  background: #fd8a07;
  cursor: pointer;  

}

.scrubberSlider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  border-style: inset;
  border-color: #fd8907;
  background: #fd8907;;
  cursor: pointer;
}


/* 
  thumb disabled
*/


.scrubberSlider_disabled {
  -webkit-appearance: none;
  width: 88vw;
  margin-left: 6vw; 
  height: 20px;
  border-radius: 2px;  
  border-style: inset;
  border-color: #ebebeb;
  background: #a5a5a5;
  outline: none;
}

.scrubberSlider_disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  border-style: inset;
  border-color: #a5a5a5;
  background: #a5a5a5;
  cursor: pointer;  

}

.scrubberSlider_disabled::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 5px; 
  border-style: inset;
  border-color: #a5a5a5;
  background: #a5a5a5;;
  cursor: pointer;
}
