html, body, .full_size {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.app-container- {
  display: grid;
  grid-template-rows: 600px, 30hv;
  grid-template-columns: 1fr;
  border-style: dashed;

  border-width: 2px;
  background-color: antiquewhite;
}

.upload-video-container- {
  display: grid;
  grid-template-rows: 600px;  
  border-style: dashed;
  border-color: rgb(228, 180, 22);
  border-width: 2px;
}

.edit-mosaic-container- {
  display: grid;
  grid-template-rows: 480px, 48px, 72px;
  border-style: dashed;
  border-color: rgb(159, 29, 148);
  border-width: 2px;
}