@use '@sass/mosaicVariables.scss' as *;
@use '@sass/mosaicMixins.scss' as *;

.desktopDisplay {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-width: 1200px;
  padding: 20px 0px;

  > div {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 0px 40px;
    user-select: none;
  }

  a {
    color:#7b1fa2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__leftColumn {
    container-type: inline-size;
    width: 33%;
    flex-direction: column;
  }


  &__title {
    font-size: 29cqi;
    line-height: .9em;
    font-weight: 600;
    color:#7b1fa2;
    text-shadow: 0px 0px 4px #7b1fa2;
  }

  &__tag {
    font-size: 9.5cqi;
    font-weight: 100;
    color: #000000;
  }

  &__tag--bold {
    font-weight: 500;
  }


  &__middleColumn {
    justify-content: center;
  }

  &__rightColumn {
    justify-content: flex-end;
    gap: 40px;
    > div {
      color:#7b1fa2;
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__appContainer {
    position: absolute;
    margin-top: 132px;
    margin-left: -14px;
    background-color: white;
  }
}