// Table Captain Design Tokens =======
$mosaic-purple-light: #ae52d4;
$mosaic-purple-dark: #7b1fa2;
$mosaic-contrast: 'rgba(255, 255, 255, 0.87)';

$mosaic-hover-default: #7b1fa2;
$mosaic-pressed-default: rgba(30, 30, 30, 0.24);

// Surface Colors ===
$surface-primary: #02113E;
$surface-primary-gradient: linear-gradient(269.71deg, rgba(0, 0, 0, 0.2) 88.68%, rgba(0, 0, 0, 0) 94.51%);
$surface-primary-med: #00164F;

$surface-low: #FAF8FF;
$surface-input: #2F312D0F;




// TC System Color Tokens ====
// Swatches =====
$swatches-negative-dark-negative: rgb(139, 0, 0);
$swatches-negative-inverse-negative: rgb(255, 237, 234);
$swatches-negative-negative: rgb(222, 55, 48);
$swatches-primary-inverse-primary: rgb(250, 248, 255);
$swatches-primary-primary: rgb(2, 17, 62);
$swatches-success-inverse-success: rgb(237, 255, 225);
$swatches-success-success: rgb(23, 138, 15);
// State =====
$state-active: rgba(182, 196, 255, 0.24);
$state-focus-default: rgba(30, 30, 30, 0.18);
$state-focus-heavy: rgba(30, 30, 30, 0.26);
$state-focus-inverse: rgba(249, 249, 249, 0.12);
$state-focus-light: rgba(30, 30, 30, 0.1);
$state-focus-primary: rgba(182, 196, 255, 0.32);
$state-hover-default: rgba(30, 30, 30, 0.16);
$state-hover-heavy: rgba(30, 30, 30, 0.24);
$state-hover-inverse: rgba(249, 249, 249, 0.08);
$state-hover-light: rgba(30, 30, 30, 0.08);
$state-hover-primary: rgba(182, 196, 255, 0.24);
$state-loading: rgb(238, 238, 232);
$state-null: rgba(255, 255, 255, 0);
$state-pressed-default: rgba(30, 30, 30, 0.24);
$state-pressed-heavy: rgba(30, 30, 30, 0.32);
$state-pressed-inverse: rgba(249, 249, 249, 0.24);
$state-pressed-light: rgba(30, 30, 30, 0.16);
$state-pressed-primary: rgba(118, 141, 224, 0.32);

// Surface =====
$surface-default: rgb(255, 255, 255);
$surface-disabled-default: rgba(47, 49, 45, 0.16);
$surface-disabled-inverse: rgba(204, 204, 204, 0.16);
$surface-faint: rgba(30, 30, 30, 0.08);
$surface-full: rgb(13, 15, 11);
$surface-high: rgb(204, 204, 204);
$surface-input-default: rgba(47, 49, 45, 0.01);
$surface-input-error: rgba(255, 84, 73, 1);
$surface-input-locked: rgba(47, 49, 45, 0.06);
$surface-light: rgba(249, 249, 249, 0.64);
$surface-low: rgb(250, 248, 255);
$surface-max: rgb(47, 49, 45);
$surface-medium: rgb(243, 243, 244);
$surface-null: rgb(0, 0, 0, 0);
$surface-page-default: rgb(103, 232, 249);
$surface-page-paged: rgb(23, 157, 200);
$surface-primary-high-default: rgb(7, 9, 15);
$surface-primary-high-inverse: rgb(209, 216, 255);
$surface-primary-light-default: rgba(182, 196, 255, 0.24);
$surface-primary-low-default: rgb(40, 65, 144);
$surface-primary-low-inverse: rgb(250, 248, 255);
$surface-priority-default: rgb(255, 152, 0);
$surface-priority-low: rgba(255, 152, 0, 0.32);
$surface-scrim: rgba(30, 30, 30, 0.72);
$surface-secondary-high-default: rgb(7, 9, 15);
$surface-secondary-high-inverse: rgb(209, 216, 255);
$surface-secondary-light-default: rgba(182, 196, 255, 0.24);
$surface-secondary-low-default: rgb(40, 65, 144);
$surface-secondary-low-inverse: rgb(250, 248, 255);
$surface-secondary: rgb(12, 16, 27);
$surface-selection-active-switch: rgb(130, 226, 113);
$surface-selection-brand: rgba(114, 222, 94, 0.2);
$surface-selection-default: rgb(1, 57, 204);
$surface-selection-inverse: rgba(102, 169, 255, 0.08);
$surface-selection-row-selection-bg: rgb(235, 241, 255);
$surface-selection-row-selection-item: rgb(1, 76, 255);
$surface-selection-secondary: rgb(51, 123, 255);
$surface-selection-success: rgb(114, 222, 94);
$surface-success-high: rgb(0, 58, 0);
$surface-success-low: rgb(58, 165, 44);
$surface-success-medium: rgb(23, 138, 15);
$surface-success-tint-success-20: rgba(114, 222, 94, 0.2);
$surface-success-tint-success-32: rgba(114, 222, 94, 0.32);
$surface-success-tint-success-72: rgba(114, 222, 94, 0.72);
$surface-success-tint-success-8: rgba(114, 222, 94, 0.08);
$surface-waitlist-actions-clear: rgb(244, 67, 54);
$surface-waitlist-actions-multi-select-active: rgba(182, 214, 255, 1);
$surface-waitlist-actions-multi-select-default: rgba(1, 70, 230, 1);
$surface-waitlist-actions-neutral: rgba(62, 39, 35, 1);
$surface-waitlist-actions-positive: rgb(0, 86, 63);
$surface-waitlist-actions-select-all: rgba(51, 123, 255, 1);
$surface-waitlist-game-game-1: rgb(127, 23, 14);
$surface-waitlist-game-game-2: rgb(78, 132, 207);
$surface-waitlist-game-game-3: rgb(183, 134, 11);
$surface-waitlist-game-game-4: rgb(58, 165, 44);
$surface-waitlist-game-game-5: rgb(137, 43, 226);
$surface-waitlist-meal: rgb(109, 0, 144);
$surface-waitlist-must-move: rgb(222, 55, 48);
$surface-waitlist-note: rgb(255, 217, 102);
$surface-waitlist-seat-request: rgb(47, 49, 45);
$surface-waitlist-seated-table: rgba(12, 16, 27, 0.1);
$surface-waitlist-table-requests-request-1: rgb(0, 102, 255);
$surface-waitlist-table-requests-request-2: rgb(143, 0, 255);
$surface-waitlist-table-requests-request-3: rgb(255, 0, 245);
$surface-waitlist-table-requests-request-4: rgb(255, 77, 0);
$surface-waitlist-table-requests-request-5: rgb(70, 80, 103);
$surface-waitlist-table-requests-request-inactive: rgba(247, 247, 247, 0.64);
$surface-waitlist-tourniment: rgb(249, 115, 22);
$surface-waitlist-transfer: rgb(253, 76, 25);
$surface-waitlist-phone-in: rgba(1, 57, 204, 1);
$surface-waitlist-user-table-request: rgb(237, 255, 225);
$surface-warning-default: rgba(239, 108, 0, 1);
$surface-warning-contrast: rgba(255, 244, 229, 1);
// Surface Reference --
$surface-error-contrast: $swatches-negative-inverse-negative;
$surface-error-default: $swatches-negative-negative;
$surface-primary-medium-default: $swatches-primary-primary;
$surface-primary-medium-inverse: $swatches-primary-inverse-primary;
$surface-secondary-medium-default: $swatches-primary-primary;
$surface-secondary-medium-inverse: $swatches-primary-inverse-primary;
$surface-success-default: $swatches-success-success;
$surface-success-inverse: $swatches-success-inverse-success;
$surface-waitlist-actions-move: $surface-priority-default;
$surface-waitlist-actions-page: $surface-page-default;
$surface-waitlist-actions-remove: $swatches-negative-dark-negative;
$surface-waitlist-actions-un-page: $surface-page-paged;

// Stroke =====
$stroke-faint-default: rgba(30, 30, 30, 0.08);
$stroke-faint-inverse: rgba(249, 249, 249, 0.08);
$stroke-faint-negative: rgba(255, 84, 73, 0.08);
$stroke-faint-primary: rgba(8, 41, 120, 0.08);
$stroke-full: rgb(13, 15, 11);
$stroke-heavy-default: rgba(30, 30, 30, 0.64);
$stroke-heavy-inverse: rgba(249, 249, 249, 0.64);
$stroke-heavy-negative: rgb(255, 84, 73);
$stroke-heavy-primary: rgb(8, 41, 120);
$stroke-heavy-subtle: rgba(30, 30, 30, 0.48);
$stroke-heavy-success: rgb(0, 58, 0);
$stroke-light-default: rgba(30, 30, 30, 0.12);
$stroke-light-inverse: rgba(249, 249, 249, 0.12);
$stroke-light-negative: rgba(255, 84, 73, 0.24);
$stroke-light-primary: rgba(8, 41, 120, 0.12);
$stroke-medium-default: rgba(30, 30, 30, 0.24);
$stroke-medium-inverse: rgba(249, 249, 249, 0.24);
$stroke-medium-negative: rgba(255, 84, 73, 0.72);
$stroke-medium-primary: rgba(8, 41, 120, 0.16);
$stroke-medium-success: rgb(23, 138, 15);
$stroke-success: rgb(114, 222, 94);
$stroke-waitlist-page-default: rgba(103, 232, 249, 0.32);
$stroke-waitlist-page-negative: rgba(255, 84, 73, 0.32);
// Stroke Reference --
$stroke-heavy-must-move: rgba(222, 55, 48, 1);
$stroke-heavy-selection: rgba(1, 76, 255, 0.72);
$stroke-light-selection: rgba(1, 76, 255, 0.08);
$stroke-medium-selection: rgba(1, 76, 255, 0.24);

// Text =====
$text-disabled-contrast: rgba(249, 249, 249, 0.48);
$text-disabled-default: rgba(30, 30, 30, 0.48);
$text-faint-default: rgba(30, 30, 30, 0.12);
$text-high-contrast: rgb(255, 255, 255);
$text-high-default: rgb(47, 49, 45);
$text-medium-contrast: rgba(249, 249, 249, 0.72);
$text-medium-default: rgba(30, 30, 30, 0.64);
$text-medium-subtle: rgba(11, 12, 11, 0.64);
$text-primary-medium: rgb(40, 65, 144);
$text-selection-default: rgb(29, 78, 216);
$text-success-default: rgb(0, 58, 0);
$text-timer-default: rgb(0, 119, 55);
$text-timer-warning: rgb(255, 60, 52);
// Text Reference --
$text-error-contrast: $text-high-contrast;
$text-error-default: $swatches-negative-dark-negative;
$text-high-must-move: $surface-waitlist-must-move;
$text-primary-contrast: $text-high-contrast;
$text-primary-default: $swatches-primary-primary;
$text-selection-contrast: $text-high-contrast;
$text-success-contrast: $text-high-contrast;

// Border =====
$border-large: 3px;
$border-medium: 2px;
$border-small: 1px;

// Radius =====
$radius-radius-2: 2px;
$radius-radius-4: 4px;
$radius-radious-8: 8px;
$radius-radious-12: 12px;
$radius-radius-16: 16px;
$radius-radius-24: 24px;
$radius-radius-32: 32px;
$radius-radius-48: 48px;
$radius-radius-96: 96px;
$radius-radius-full: 999px;
// Radius Reference --
$radius-pttn-radius-bttn-sm: $radius-radious-12;
$radius-pttn-radius-bttn: $radius-radius-16;
$radius-dialog: $radius-radius-32;
$radius-modal: $radius-radius-32;
$radius-pannel: $radius-radius-16;

// Size =====
$size-bttn-small: 48px;
$size-bttn-medium: 64px;
$size-bttn-large: 80px;
// Size Reference --
$size-data-gride-size-mouse: 40px;
$size-data-gride-size-touch-2: 56px;
$size-data-gride-size-touch-1: 64px;

// Spacing =====
$spacing-space-4: 4px;
$spacing-space-8: 8px;
$spacing-space-12: 12px;
$spacing-space-16: 16px;
$spacing-space-20: 20px;
$spacing-space-24: 24px;
$spacing-space-32: 32px;
$spacing-space-40: 40px;
$spacing-space-48: 48px;
$spacing-space-56: 56px;
$spacing-space-96: 96px;
// Spacing Reference --
$spacing-pttn-space-dialog-padding: $spacing-space-40;
$spacing-pttn-space-modal-padding: $spacing-space-40;
