@use './colors' as *;
// Design System Mixins ===================
// Edited Last: DATE
// ========================================

// ========================================
// Typography
// ========================================

// Usage:
// Anywhere you need to apply font-family in your styles, use `font-family: $font-stack;`
//

$font-stack: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Font Styles Mixin
//
// This mixin provides a convenient way to apply common font properties
// to an element. You can customise the values by passing parameters when using
// the mixin, or if no parameters are given, the default values are applied.
//
// Parameters:
// - `$size`: The font-size of the text. Default is `35px`.
// - `$weight`: The font-weight of the text. Default is `400`.
// - `$style`: The font-style of the text. Default is `normal`.
// - `$lineHeight`: The line-height of the text. Default is `normal`.
// - `$decoration`: The text-decoration of the text. Default is `none`.
// - `$transform`: The text-transform of the text. Default is `none`.
//
// Usage:
// To use, include the mixin in your ruleset, passing the values as arguments:
//
// .my-class {
//   @include font-style(35px, 500, normal, 1.5, underline, uppercase);
// }
//
// In the above example, the `.my-class` will have font size of `35px`, font weight
// of `500`, font style of `normal`, line height of `1.5`, decoration of `underline`
// and transformed text to uppercase letters.
//

@mixin font-style($size: 35px, $weight: 400, $style: normal, $lineHeight: normal, $decoration: none, $transform: none) {
  font-family: $font-stack;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lineHeight;
  text-decoration: $decoration;
  text-transform: $transform;
}

// Font headline1 (35) -------
@mixin font-headline1 {
  @include font-style(35px, 400,)
}
@mixin font-headline1-medium {
  @include font-style(35px, 500,)
}
@mixin font-headline1-bold {
  @include font-style(35px, 700,)
}

// Font headline2 (29) -------
@mixin font-headline2 {
  @include font-style(29px, 400,)
}
@mixin font-headline2-medium {
  @include font-style(29px, 500,)
}
@mixin font-headline2-bold {
  @include font-style(29px, 700,)
}

// Font headline3 (24) -------
@mixin font-headline3 {
  @include font-style(24px, 400,)
}
@mixin font-headline3-medium {
  @include font-style(24px, 500,)
}
@mixin font-headline3-bold {
  @include font-style(24px, 700,)
}

// Font headline4 (20) -------
@mixin font-headline4 {
  @include font-style(20px, 400,)
}
@mixin font-headline4-medium {
  @include font-style(20px, 500,)
}
@mixin font-headline4-bold {
  @include font-style(20px, 700,)
}

// Font body1 (17) -------
@mixin font-body1 {
  @include font-style(17px, 400,)
}
@mixin font-body1-medium {
  @include font-style(17px, 500,)
}
@mixin font-body1-bold {
  @include font-style(17px, 700,)
}

// Font body2 (16) -------
@mixin font-body2 {
  @include font-style(16px, 400,)
}
@mixin font-body2-medium {
  @include font-style(16px, 500,)
}
@mixin font-body2-bold {
  @include font-style(16px, 700,)
}

// Font captionLarge (14) -------
@mixin font-captionLarge {
  @include font-style(14px, 400,)
}
@mixin font-captionLarge-medium {
  @include font-style(14px, 500,)
}
@mixin font-captionLarge-bold {
  @include font-style(14px, 700,)
}

// Font caption (12) -------
@mixin font-caption {
  @include font-style(12px, 400,)
}
@mixin font-caption-medium {
  @include font-style(12px, 500,)
}
@mixin font-caption-bold {
  @include font-style(12px, 700,)
}

// Font captionSmall (10) -------
@mixin font-captionSmall {
  @include font-style(10px, 400,)
}
@mixin font-captionSmall-medium {
  @include font-style(10px, 500,)
}
@mixin font-captionSmall-bold {
  @include font-style(10px, 700,)
}

// ========================================
// Drop Shadow
// ========================================

@mixin dropShadow-0-5() {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.300);
}
@mixin dropShadow-1() {
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.150), 0px 1px 2px rgba(0,0,0,0.300);
}
@mixin dropShadow-2() {
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.150), 0px 1px 2px rgba(0,0,0,0.300);
}
@mixin dropShadow-3() {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.300), 0px 4px 8px 3px rgba(0,0,0,0.150);
}
@mixin dropShadow-4() {
	box-shadow: 0px 2px 3px rgba(0,0,0,0.300), 0px 6px 10px 4px rgba(0,0,0,0.150);
}
@mixin dropShadow-5() {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.300), 0px 8px 12px 6px rgba(0,0,0,0.150);
}

// ========================================
// Input States
// ========================================

@mixin style-selected-item() {
	box-shadow: 0px 0px 0px 4px rgba(1,70,230,0.120);
}
@mixin style-selected-error() {
	box-shadow: 0px 0px 0px 4px rgba(255,84,73,0.200);
}


// ========================================
// Interactive States
// ========================================

@mixin state-hover-default($surface: $surface-default, $state: $state-hover-default) {
  background: linear-gradient(0deg, $state 0%, $state) 100%, $surface;
  transition: background 0.3s ease;
  color: white;
  font-weight: 500;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

@mixin state-pressed-default($surface: $surface-default, $state: $state-pressed-default) {
  background: linear-gradient(0deg, $state 0%, $state) 100%, $surface;
}

// ========================================
// Dialogue & Modal Scrim
// ========================================

@mixin dialog-modal-scrim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $surface-scrim;
  z-index: 1000;
}
